/* ------ Navbar ---------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c1012;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: consolas;
    font-size: 17px;
}

li a:hover:not(.active) {
    background-color: #111;
    color: green;
    text-decoration: none;
    list-style-type: none;
}

.active {
    color: red;
    font-size: 19px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: consolas;
}

/*--------- Overall website color -------*/
.black {
    background-color: #12171a;
    margin: 0px;
}

/*-------- Footer ---------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #1b2328;
    text-align:center  /* Center all images in footer */
}

.image1 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    width: 55px;
    height: 55px;
}

.image2 {
    margin-left: auto;
    margin-right: 40px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

.image3 {
    margin-left: auto;
    margin-right: 40px;
    margin-top: 10px;
    width: 55px;
    height: 55px;
}

.foot {
    color: white;
    font-family: consolas;
    font-size: 12px;
    text-align: center;
    padding: 10px 12px;
}


/* (DEPRECATED) */
/*@media screen and (max-width: 1200px) {
    .image1 {
        margin-top: 10px;
        margin-left: 435px;
    }
}

@media screen and (max-width: 500px) {
    .image1 {
        margin-top: 10px;
        margin-left: 105px;
    }
}*/





