.content {
    text-align: left;
    margin-top: 25px;
    margin-left: 300px;
}

.content2 {
    text-align: center;
    margin-top: -200px;
}

.content3 {
    text-align: right;
    margin-right: 300px;
    margin-top: -200px;
}

.web {
    margin-top: 25px;
    margin-right: 100px;
    width: 200px;
    height: 200px;
}

.OOP 
{
    margin-right: 50px;
    width: 350px;
    height: 200px;
}

.microsoft {
    margin-right: 50px;
    width: 250px;
    height: 200px;
}

.overlay {
    position: absolute;
    margin-top:-200px;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay2 {
    position: absolute;
    margin-top: -200px;
    margin-left: 760px;
    height: 200px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.overlay3 {
    position: absolute;
    margin-top: -200px;
    margin-left: 1318px;
    height: 200px;
    width: 250px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.content:hover .overlay {
    opacity: 1;
}

.content2:hover .overlay2 {
    opacity: 1;
}

.content3:hover .overlay3 {
    opacity: 1;
}


.text {
    color: white;
    font-size: 20px;
    font-family: Consolas;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text2 {
    color: white;
    font-size: 20px;
    font-family: Consolas;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text3 {
    color: white;
    font-size: 20px;
    font-family: Consolas;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


@media screen and (max-width: 500px) {
    .content{
        margin-left: 150px;
    }
    .content2 {
        margin-left: 50px;
        margin-top: 25px;
    }
    .content3 {
        margin-left: 125px;
        margin-top: 25px;
    }
    .overlay2 {
        margin-left: 24px;
    }
    .overlay3 {
        margin-left: auto;
    }
}